/*

	CONTENTS

	1. CSS Reset

	2. General Hacks & Styles
	  - 2.1 display
	  - 2.2 float
	  - 2.3 form

	3. Typography
	  - 3.1 general
	  - 3.2 text styles
	  - 3.3 font-weight, style & decoration
	  - 3.4 vertical-align
	  - 3.5 color

	4. Layout
	  - 4.1 general
	  - 4.2 lists
	  - 4.3 images

	5. Custom Elements
	  - 5.1 tables
	  - 5.2 quotes
	  - 5.3 code
	  - 5.4 hr
	  - 5.5 alerts
	  - 5.6 tooltip

	6. Print

	7. Colour Blindness

*/


/* ----- 1. CSS Reset ----- */

/* Based on Eric Meyer's CSS Reset: http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
	display: block;
}


/* ----- 2. General Hacks & Styles ----- */

	body{
		background-color: #FDD259;
	}

	/* ----- 2.1 display ----- */
	.block{
		display: block!important;
	}

	.inline-block{
		display: inline-block!important;
	}

	.hidden{
		display: none!important;
	}

	.circle{
		border-radius: 50%;
	}

	/* ----- 2.2 float ----- */
	.float-left{
		float: left!important;
	}

	.float-right{
		float: right!important;
	}

	/* ----- 2.3 form ----- */
	button,
	.button
	label{
		cursor: pointer;
	}

	button,
	.button,
	label,
	.no-select{
		-webkit-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
				user-select: none;
	}


/* ----- 3. Typography ----- */


	/* ----- 3.3 font-weight, style & decoration ----- */
	strong,
	b{
		font-weight: bold;
	}

	em,
	i,
	cite,
	var,
	dd{
		font-style: italic;
	}

	a{
		text-decoration: underline;
	}
	
	.no-text-decoration: {
		text-decoration: none;
	}

	s,
	del{
		text-decoration: line-through;
	}

	.uppercase{
		text-transform: uppercase;
	}

	.lowercase{
		text-transform: lowercase;
	}

	.capitalize{
		text-transform: capitalize;
	}

	.left-aligned-text{
		text-align: left;
	}

	.centered-text{
		text-align: center;
	}

	.right-aligned-text{
		text-align: right;
	}

	abbr[title],
	dfn[title]{
		border-bottom: .1em dotted;
		cursor: help;
	}

	/* ----- 3.4 vertical-align ----- */
	sup{
		vertical-align: top;
	}

	sub{
		vertical-align: bottom;
	}

	/* ----- 3.5 color ----- */
	::-moz-selection{
		background-color: #4A90E2;
	}

	::selection{
		background-color: #4A90E2;
	}

	mark{
		background-color: #FDD259;
	}


/* ----- 4. Layout ----- */

	/* ----- 4.1 general ----- */
	html{
		box-sizing: border-box;
	}

	*,
	*:before,
	*:after{
		box-sizing: inherit;
	}

	.block, main, article, section, aside,
	header, footer,
	table, form, fieldset,
	p, blockquote, ul, ol, dl, pre,
	figure, img, audio, video, canvas{
		margin-bottom: 1.5rem;
	}

	/* ----- 4.2 lists ----- */
	ul,
	ol,
	dl,
	.indent{
		padding-left: 0;
		margin-left: 1.5rem;
	}

	ul ul,
	ol ol,
	ul ol,
	ol ul{
		margin-bottom: 0;
	}

	.no-indent,
	.no-indent ul,
	.no-indent ol{
		padding-left: 0;
		margin-left: 0;
		list-style: none;
	}

	/* ----- 4.3 Image ----- */

		/* ----- Sizing ----- */
		figure,
		img,
		video{
			max-width: 100%;
		}

		img.landscape{
			height: 100%;
			max-width: none;
		}

		img.portrait{
			width: 100%;
			max-height: none;
		}

		/* ----- Positioning ----- */
		img.float-right{
			margin: 0 0 1.5rem 1.5rem;
		}

		img.float-left{
			margin: 0 1.5rem 1.5rem 0;
		}

		img.center{
			display: block;
			margin: 0 auto 1.5rem;
		}


/* ----- 5. Custom Elements ----- */

	/* ----- 5.1 tables ----- */
	table{
		border-collapse: collapse;
		border-spacing: 0;
	}

	table th{
		background-color: #000;
		color: #FDD259;
	}

	table th,
	table td{
		padding: .75rem;
		border: 1px solid rgba(0,0,0,.2);
	}

	/* ----- 5.2 quotes ----- */
	blockquote{
		padding-left: 0;
		margin-left: 1.5rem;
	}

	blockquote p{
		margin-bottom: 0;
	}

	blockquote p::before, q::before{
		content: open-quote;
	}

	blockquote p::after, q::after{
		content: close-quote;
	}

	blockquote footer::before{
		content: "\2013";
	}

	/* ----- 5.3 code ----- */
	code,
	kbd kbd,
	samp{
		border: 1px solid rgba(0,0,0,.2);
		font-family: Courier;
	}

	kbd kbd{
		border-radius: .2rem;
		margin: 0 .75rem;
	}

	/* ----- 5.4 hr ----- */
	hr{
		display: block;
		height: 0;
		padding: 0;
		margin: 1.5rem 0;
		border: 0;
		border-top: 1px solid rgba(0,0,0,.2);
	}


/* ----- 6. Print ----- */
@media print {

	body{
		color: #333;
		background: #fff;
	}

	nav,
	aside,
	.no-print{
		display: none;
	}

	body,
	article{
		width: 100%;
		margin: 0;
		padding: 0;
		float: none;
	}

	@page{
		margin: 2cm;
	}

	h2,
	h3{
		page-break-after: avoid;
	}

	article{
		page-break-before: always;
	}

	ul,
	ol,
	img{
		page-break-inside: avoid;
	}

	img{
		max-width: 100%!important;
	}

	article a[href^="http"]:after{
		content: " <" attr(href) "> ";
	}

	article a[href^="#"]:after{
		content: "";
	}

}


/* ----- 7. Colour Blindness ----- */
